:root {
  --header-bg-color: #282c34;
  --body-bg-color: #f1f5fd;
}

/* Convention: */
/* AppBlock__AppEl--AppModifier (capital for components only) */

/* Header */

.Header__logo {
  height: 100px;
}

/* UI */
body {
  background-color: var(--body-bg-color);
}
.App__header {
  background-color: var(--header-bg-color);
}
.App__footer {
  background-color: var(--header-bg-color);
  color: white;
  height: 1.5em;
  text-align: center;
}

/* Layout */
.App__content {
  min-height: 100%;
}
article {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  max-width: 80ch;
}
html, body {
  width: 100%;
  height: 100%;
}
.App__header {
  background-color: var(--header-bg-color);
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Functional */

.rootEl {
  padding: 0 5px;
}
