/* Convention: */
/* AppBlock__AppEl--AppModifier (capital for components only) */

/* Disposition */

.App__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header__logo {
  height: 50%;
}

.App__footer {
  height: 1.5em;
  text-align: center;
}

/* Colors */

:root {
  --blackish: #282c34;
  --whitish: #f1f5fd;
}

body {
  background-color: var(--whitish);
}
.App__header {
  background-color: var(--blackish);
  color: var(--whitish);
}
.App__footer {
  background-color: var(--blackish);
  color: var(--whitish);
}

/* Grid */

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.App__header {
  height: 100px;
}

/* Functional */

.rootEl {
  padding: 0 5px;
}
